html, body, #outer-container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #EEE;
  font-family: 'Orbitron', sans-serif;
}

#outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#sprinkle-container {
  height: 740px;
  width: 450px;
  display: grid;
  grid-gap: 25px;
  border-radius: 50px;
  background-color: #F9F9F9; /*#38b6ff DDD*/
  box-shadow: inset -3px -5px 13px 0 #00000066, inset 3px -5px 13px 0 #00000066, inset 0 8px 5px 0 #FFFFFF88, 0 4px 2px 0 rgba(0, 0, 0, 0.7);
  grid-template-rows: 5px 50px 100px 425px 25px 5px;
  grid-template-columns: 5px 250px 115px 5px;
}

#title {
  grid-area: 2 / 2 / 3 / 4;
  height: 50px;
  width: 390px;
  font-size: 40px;
  font-weight: bold;
}

#control-container {
  grid-area: 5 / 2 / 6 / 4;
  display: grid;
  grid-template-columns: 115px 20px 115px 25px 65px 25px;
}

#sprinkle-canvas {
  grid-area: 3 / 2 / 5 / 3;
}

#sprinkle-canvas, #menu {
  transition-duration: 0.25s;
  border-radius: 35px;
  background-color: #111;
}
#menu {
  opacity: 0;
  background-color: #FFF;
  overflow-y: scroll;
  z-index: 0;
  grid-area: 3 / 2 / 5 / 4;
}

#score-box {
  grid-area: 3 / 3 / 4 / 4;
  border-radius: 35px;
  color: #DDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}

#levels-canvas {
  grid-area: 4 / 3 / 5 / 3;
  border-radius: 35px;
  background-color: #111;
}

#levels-canvas, #sprinkle-canvas, #score-box {
  box-shadow: -3px -5px 13px 0 #00000066,
    3px -5px 13px 0 #00000066,
    0 5px 10px 0 #CCCCCCCC;
  background-color: #111;
}

#pause {
  height: 100%;
  grid-column-start: 1;
}
#show-controls {
  height: 100%;
  grid-column-start: 3;
}
#reset {
  height: 100%;
  grid-column-start: 5;
}

button {
  color: #CCC;
  background-color: #222;
  font-size: 14px;
  border-radius: 25px;
  outline: none;
  border-top: 2px solid #777;
  border: 2px solid #333;
  border-bottom: 2px solid #000;
  box-shadow: 0 3px 5px 0 #333;
}
button:active {
  border-top: 2px solid #666;
  border: 2px solid #333;
  border-bottom: none;
  box-shadow: 0 2px 3px 0 #33333399;
}

#sound {
  width: 25px;
  background-color: transparent;
  grid-column-start: 7;
  border-left: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border-right: 2px solid #898989;
  border-bottom: 2px solid #898989;  
  background-image: url("mute.png");
  outline: none;
  background-position: 35% 35%; 
}