html, body, #outer-container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #EEE;
  font-family: 'Orbitron', sans-serif;
}

#nav-placeholder object {
  width: 100%;
}
#nav-placeholder {
  width: 100%;
  align-self: flex-end;
}

#sprinkle-container {
  margin: 0 auto;
  margin-bottom: 5em;
  width: 26.25em;
  display: grid;
  background-color: #F9F9F9; /*#38b6ff DDD*/
  box-shadow: inset -3px -5px 13px 0 #00000066, inset 3px -5px 13px 0 #00000066, inset 0 8px 5px 0 #FFFFFF88, 0 4px 2px 0 rgba(0, 0, 0, 0.7);
  grid-template-rows: 1em 3em 1.1em 6em 1.5em 25.5em 1.2em 1.5em 1.8em;
  grid-template-columns: 1.5em 15em 1.5em 6.9em 1.5em;
}

#title {
  grid-area: 2 / 2 / 3 / 5;
  font-size: 38px;
  font-weight: bold;
}

#control-container {
  grid-area: 8 / 2 / 9 / 4;
  display: grid;
  grid-template-columns: 6.8em 1.4em 6.8em 1.5em 3.8em 1.5em 1.5em;
}

#sprinkle-canvas {
  grid-area: 4 / 2 / 7 / 3;
  width: 15em;
  z-index: 1;
}

#sprinkle-canvas, #menu {
  transition-duration: 0.25s;
  border-radius: 35px;
  background-color: #111;
}
#menu {
  opacity: 0;
  background-color: #F9F9F9;
  z-index: 0;
  grid-area: 3 / 2 / 7 / 5;
}

#score-box, #levels-canvas, #sprinkle-container {
  border-radius: 20px;

}
#score-box {
  grid-area: 4 / 4 / 5 / 5;
  color: #DDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}

#levels-canvas {
  grid-area: 6 / 4 / 6 / 5;
  background-color: #111;
  width: 6.9em;
}

#levels-canvas, #sprinkle-canvas, #score-box {
  transition-duration: 0.25s;
  box-shadow: -3px -5px 13px 0 #00000066,
    3px -5px 13px 0 #00000066,
    0 5px 10px 0 #CCCCCCCC;
  background-color: #111;
}

#pause {
  height: 100%;
  grid-column-start: 1;
}
#show-controls {
  height: 100%;
  grid-column-start: 3;
}
#reset {
  height: 100%;
  grid-column-start: 5;
}

button {
  color: #CCC;
  background-color: #222;
  font-size: 14px;
  border-radius: 25px;
  outline: none;
  border-top: 2px solid #777;
  border: 2px solid #333;
  border-bottom: 2px solid #000;
  box-shadow: 0 3px 5px 0 #333;
}
button:active {
  border-top: 2px solid #666;
  border: 2px solid #333;
  border-bottom: none;
  box-shadow: 0 2px 3px 0 #33333399;
}

#sound {
  width: 25px;
  background-color: transparent;
  grid-column-start: 7;
  border-left: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border-right: 2px solid #898989;
  border-bottom: 2px solid #898989;  
  background-image: url("images/mute.png");
  outline: none;
  background-position: 35% 35%; 
}

#welcome {
  color: #EEE;
  font-size: 2em;
  text-align: center;
  grid-area: 4 / 2 / 7 / 3;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#key-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

#keys {

}

h4 {
  margin: 0.5em auto;
}